*{
  box-sizing: border-box;
}

.container {
  margin: 20px 10px auto;
  height:1600px;
  width:auto;
}

.header {
  background-color: red;
  padding: 40px;
}

.inter-top{
  background-color: black;
  padding: 20px;
}

.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: blue;
  margin: 0px 80px auto 80px;
  height:100%;
}

.square{
  margin: 50px 20px 0 20px;
  height: 150px;
  width: 150px;
  background-color: yellow;
}

.square:hover{
  background-color: orange;
}

.footer {
  background-color: green;
  padding: 60px;
}
